body {
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

@font-face { 
    font-family: 'Digital-7'; 
    src: url(digital-7.ttf); 
} 

#date {
    font-family: 'Digital-7'; 
    font-size: 60px;
    margin-top: 21px;
}

#clock {
    font-family: 'Digital-7'; 
    font-size: 60px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.button-container {
    text-align: center;
    margin: 20px 0;
}

.button-container img {
    cursor: pointer;
    width: 100px; 
    transition: transform 0.2s;
}

.button-container img:hover {
    transform: scale(1.1);
}

#videoContainer {
    display: none;
}

#videoElement {
    width: 300px;
    height: auto;
}

.info-selfdestruct-container {
    text-align: center;
    margin: 20px 0;
}

.info-selfdestruct img {
    width: 500px; 
    transition: transform 0.2s;
}
